@import "navbar";
@import "footer";
@import "main";
@import "grid";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding-right: 5%;
  padding-left: 5%;
  
  
}